@model About


@if (Model  == null)
{
    <a class="btn btn-success mt-5 mb-4 " style = " width: 10%;" href="/dashboard/about/create">Create</a>
}



@if (Model != null)
{


    <table  class="table table-bordered table-striped table-light mb-5" style = "color: #000;">
        <tr class = "table-light">
            <th>Id</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>BgColor</th>
            <th>Action</th>

        </tr>


        <tr style = "font-weight:500">
            <td>@Model.Id</td>
            <td>@Model.Title</td>
            <td style="white-space: pre-wrap" >@Model.Subtitle</td>
            <td>
                <div  style="background-color: @Model.BgColor; width: 100%; height:50px; "></div>
           </td>
            <td>
                <a href="/dashboard/about/edit/@Model.Id" class="btn btn-warning btn-md ">Edit</a>
                <a href="/dashboard/about/details/@Model.Id" class="btn btn-info btn-md">Detail</a>
                <a href="/dashboard/about/delete/@Model.Id" class="btn btn-danger btn-md">Delete</a>
            </td>
        </tr>



    </table>

}
else
{
    <div class = "alert alert-info">Bazada melumat yoxdur</div>
}

