<form enctype="multipart/form-data" method="post" class="mt-5 mb-3">
    <div class="container">
        <div class="row">
            <div class="input-group my-2">
                <input name="Title" id="title" class="form-control" type="text" style="color: #fff;" placeholder="Title" />
            </div>
            <div class="input-group my-2">
                <input name="Subtitle" id="title" class="form-control" type="text" style="color: #fff; " placeholder="Subtitle" />
            </div>
            @ViewBag.PhotoError
            <div class="input-group my-2">
                <input name="NewPhoto" id="title" class="form-control" type="file" accept=".jpg" placeholder="PhotoURL" />
            </div>
            <div class="input-group my-2">
                <input type="submit" class="btn btn-success " value="Create" />

            </div>
            <div class="mb-5 mt-3 ">
                <a class="btn btn-success" href="/dashboard/portfolio">Return Index</a>
            </div>

        </div>
    </div>
</form>

